<!--Este arquivo é referente à pagina de edição de eventos pelo SuperUser-->
<% provide(:page_title, "Editar #{@event.title}")%>

<div class="blocktext">
    <h1 class="text-center">Editar Evento</h1>
    <hr>
</div>

<%= render 'form', event: @event %>

<div class="blocktext-login">

  <%= link_to 'Mostrar', @event, class: "btn btn-primary btn-block btn-lg"  %>
  <%= link_to 'Voltar', events_path, class: "btn btn-primary btn-block btn-lg"  %>
</div>
