<% provide(:page_title, 'Todos os eventos')%>

<div class="row">
  <%= render @events %>
</div>

<%# Personalize the WillPaginate default pagination %>
<%= will_paginate @events, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: "Anterior", next_label: "Próximo", inner_window: 2 %>
