<% provide(:page_title, 'Novo evento')%>

<div class="blocktext">
    <h1 class="text-center">Novo Evento</h1>
    <hr>
</div>

<%= render 'form', event: @event %>

<div class="blocktext">

<%= link_to 'Back', events_path, class: "btn btn-primary btn-block btn-lg"  %>

</div>
