<!--Este arquivo é referente à página "Sobre"-->

<div class="container">
	<div class="row">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">O que fazemos?</h1>
                            <hr />
                            <p class="text-justify">Somos um site que vem com o proposito de promover eventos artistícos e de entretenimento em geral, como rodas de dança, exposições de artes e fotografia, competições de jogos online, entre outros. Sabemos que o consumo de arte em geral é bastante importante, e gostariamos de manter esse consumo e promover o mesmo para que a população brasileira possa ter acesso a informação da cultura de uma forma mais fácil e simples.</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Como fazemos?</h1>
                            <hr />
                            <p class="text-justify">Estamos trabalhando nessa plataforma para que as pessoas possam divulgar tais exposições e encontros de forma que todos possam ter acesso à aquilo que mais gostam. Sabemos também que muitos não conhecem eventos artísticos daquilo que se tem mais interesse e gostariamos de dar mais acessibilidade e informação para que todos possam curtir e aproveitar a vida de uma forma mais divertida.</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Quem somos?</h1>
                            <hr />
                            <p class="text-justify">Somos os estudantes Dâmaso Júnio e Welison Almeida do 3º semestre de Engenharia de Software da UnB-Gama. E esse projeto faz parte de um trabalho proposto pela disciplina de Orientação à Objetos pelo Professor Renato Sampaio.</p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<hr/>
	<footer>
        <p>&copy; 2018 FindEvent, Inc.</p>
      </footer>
</div>
