<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">FindEvent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sobre", abouts_show_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Criar evento", new_event_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Sign in", root_path %> </a>
      </li>
    </ul>
  </div>
</nav>